workflow:
    rules:
        - if: $CI_COMMIT_TAG
        - if: $CI_COMMIT_BRANCH
        - if: $CI_MERGE_REQUEST_IID

services:
    - docker:18-dind

variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
        - build

stages:
    - build
    - test

build:
    image: amazoncorretto:8-al2023
    variables:
        GIT_SUBMODULE_STRATEGY: recursive
    stage: build
    before_script:
      - yum -y update
      - yum -y install maven
      - alternatives --set java /usr/lib/jvm/java-1.8.0-amazon-corretto.x86_64/jre/bin/java
      - alternatives --set javac /usr/lib/jvm/java-1.8.0-amazon-corretto.x86_64/bin/javac
    script:
        - mvn clean compile package -DskipTests

.test_script:
    image: amazoncorretto:8-al2023
    stage: test
    before_script:
      - yum -y update
      - yum -y install maven
      - alternatives --set java /usr/lib/jvm/java-1.8.0-amazon-corretto.x86_64/jre/bin/java
      - alternatives --set javac /usr/lib/jvm/java-1.8.0-amazon-corretto.x86_64/bin/javac
    script:
        - mvn test

test_prod:
    extends: .test_script
    environment:
      name: ubs-usw2-prcv3
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
        when: on_success
      - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
        when: on_success
      - if: $CI_PIPELINE_SOURCE == 'schedule'
        when: on_success

test_dev:
    extends: .test_script
    environment:
      name: ubs-usw2-dvc
    rules:
      - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != 'merge_request_event'
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == 'schedule'



sast:
    variables:
        SAST_EXCLUDED_PATHS: src/test, build
    stage: test

secret_detection:
    stage: test
    variables:
        SECRET_DETECTION_EXCLUDED_PATHS: "build/"

dependency_scanning:
    stage: test
    variables:
        DS_EXCLUDED_PATHS: "src/test, build"

# GitLab Security Scanning Templates
include:
    - template: Security/SAST.gitlab-ci.yml
    - template: Security/Secret-Detection.gitlab-ci.yml
    - template: Security/Dependency-Scanning.gitlab-ci.yml

